{% extends 'core/index.html' %}

{% block content %}
<p class="tab"></p>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for director in director_list %}
        <div class="col">
            <div class="card" style="width: 18rem; height: 22rem">
                <img class="card-img-top" src="{{ director.image.url }}" style="width: 18rem; height: 10rem; object-fit: cover;">
                <div class="card-body">
                    <button aria-label="Close" class="btn-close"
                            onclick="location.href='{% url 'core:director_delete' director.pk%}'"
                            type="button" style="float: right;"></button>
                    <h5 class="card-title"><a href="{% url 'core:director_detail' director.pk %}">{{ director.first_name }} {{ director.last_name }}</a></h5>
                    <p class="card-text">{{ director.country }}</p>
                    <p>Фильмов: {{ director.movie_set.all.count }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <a href="{% url 'core:director_create' %}" style="text-decoration: none">
                <div class="card">
                    <div align="center" class="card-body">
                        <h1 class="card-title">+</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}
    {% include 'core/search_sidebar_form.html' %}
{% endblock %}