{% extends 'core/index.html' %}

{% block content %}
<div>
    <div class="card">
        <div class="card-body">
            {% if user.is_stuff or user.is_superuser%}
            <button class="btn btn-outline-primary" onclick="location.href='{% url 'core:movie_update' movie.pk %}'"
                    type="button" style="float: right;">изменить
            </button>
            {% endif %}
            <h1>{{ movie.name }}</h1>
            <p>Жанр: {{ movie.display_genre }}</p>
            <p>Режиссер: <a href="{% url 'core:director_detail' movie.director.pk %}">{{ movie.director }}</a></p>
            <p>Описание: {{ movie.description }}</p>
            <p>{{ movie.release_date }}</p>
        </div>
    </div>
<h3>Рецензии</h3>
    {% for movie_review in movie.moviereview_set.all %}
    <div class="card">
        <div class="card-body">
            <h4>{{ movie_review.user }}</h4>
            <p>{{ movie_review.review }}</p>
        </div>
    </div>
    {% endfor %}
    <button class="btn btn-outline-primary" onclick="location.href='{% url 'core:movie_add_review' movie.pk %}'"
                    type="button">добавить рецензию</button>


</div>
{% endblock %}