{% extends 'core/index.html' %}

{% block searchbar %}

    {% include 'core/search_include.html' %}

{% endblock %}

{% block content %}
<p class="tab"></p>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movie_list %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'core:movie_detail' movie.pk %}">{{ movie.name }}</a></h5>
                    <p class="card-text"><a href="{% url 'core:director_detail' movie.director.pk %}">{{ movie.director }}</a></p>
                    <p class="card-text">{{ movie.display_genre }}</p>
                    <p class="card-text">{{ movie.release_date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block sidebar %}
    {% include 'core/search_sidebar_form.html' %}
{% endblock %}
